@import "../css/prettify-dark.css";
:root {
--font:			open-sans, sans-serif;
--logo:			url(https://ponyhawks.ru/templates/skin/synio/css/svg/ph.svg);
--logo-mobile:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/ph.svg);
--header-back:		url(https://ponyhawks.ru/templates/skin/synio/css/images/back_10.png);
--icons-user:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/user-menu-icons-dark.svg);
--icon-stream:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/stream.svg);
--icons-contacts:	url(https://ponyhawks.ru/templates/skin/synio/css/svg/icons-contact-dark.svg);
--icons-topic:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/topic-icons-dark.svg);
--icons-toolbar:	url(https://ponyhawks.ru/templates/skin/synio/css/svg/toolbar-gs.svg);
--icons-social:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/social-dark.svg);
--icons-comments:	url(https://ponyhawks.ru/templates/skin/synio/css/svg/comment-icons-gs.svg);
--icons-editor:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/editor-dark.svg);
--icon-message:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/message-dark.svg);
--toolbar-update:	url(https://ponyhawks.ru/templates/skin/synio/css/svg/toolbar-update-gs.svg);
--talk-icons:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/talk-dark.svg);
--loader:		url(https://ponyhawks.ru/templates/skin/synio/css/svg/loader-gs.svg);
--user:			url(https://ponyhawks.ru/templates/skin/synio/css/svg/user-gs.svg);

--brdr-rad5:	5px;		/*Сглаживание краёв 5*/
--brdr-rad3:	3px;		/*Сглаживание краёв 3*/

--main-bg:	#101010;	/*Основной фон*/
--overlay:	#00000080;	/*Оверлей*/
--text:		#ddd;	/*Основной цвет текста*/
--text-gray:	#787878;	/*Дополнительный цвет текста*/
--text-time:	#464646;	/*Время в блоке прямого эфира*/
--text-fav:	#313132;	/*Цифра избранноего*/
--href:		#9cdcfe;	/*Цвет ссылок*/
--href-hover:	#fff;	/*Цвет ссылок при наведении*/
--href-err:	#727a90;	/*Цвет ссылок на 404*/
--href-err-h:	#f90;		/*Цвет ссылок на 404 при наведении*/
--contain:	#262626;	/*Главный контейнер*/
--head-start:	#1b1b1b;	/*Верхняя панель*/
--head-end:	#1b1b1b;	/*Верхняя панель*/
--headers:	#1b1b1b;	/*Заголовки таблиц и некоторые элементы*/
--counter:	#fff;	/*Индикатор новых писем*/
--counter-c:	#43ED8D;	/*Индикатор новых комментариев*/
--element:	#191919;	/*Неактивный элемент*/
--el-hover:	#666;	/*Активный элемент, :hover*/
--el-active:	#003e80;	/*Активный элемент, :active*/
--el-red:	#992900;	/*Неактивный элемент предупреждающий*/
--el-h-red:	#fff;	/*Активный элемент предупреждающий, :hover*/
--el-shad:	#999;		/*Неактивный элемент затенённый*/
--panel:	#191919;	/*Панели*/
--window:	#252525;	/*Окна*/
--input:	#101010;	/*Фон окон ввода*/
--input-border:	#323232;	/*Границы окон ввода*/
--input-focus:	#606060;	/*Подсветка полей ввода*/
--input-text:	#cacaca;	/*Текст полей ввода*/
--quote:	#363636;	/*Цитата*/
--quote-bd:	#707070;	/*Границы цитаты*/
--pre:		#434343;	/*Код*/
--pre-border:	#666;	/*Границы кода*/
--spoiler:	#252525;	/*Спойлер*/
--spoiler-bd:	#444;	/*Границы спойлера*/
--sp-gray:	#575757;	/*Lite-спойлер*/
--dice-b:	lightblue;	/*Дайсы*/
--dice-g:	lightgreen;	/*Дайсы*/
--dice-r:	lightcoral;	/*Дайсы*/
--tb-odd:	#252525;	/*Нечётная строка таблицы*/
--tb-even:	#363636;	/*Чётная строка таблицы*/
--tb-first:	#1b1b1b;	/*Первая строка таблицы*/
--tb-hover:	#191919;	/*Активная строка таблицы*/
--btn:		#888;		/*Обычная кнопка*/
--btn-hover:	#bbb;		/*Обычная кнопка активная*/
--btn-shad:	#000000;	/*Тень обычной кнопки*/
--b-h-shad:	#fff;		/*Тень обычной кнопки активная*/
--btn-act:	#444;		/*Обычная кнопка нажатая*/
--btn-act-t:	#8fa7b8;	/*Текст обычной кнопки нажатой*/
--btn-bl:	#ccc;	/*Основная кнопка*/
--btn-bl-hover:	#fff;	/*Основная кнопка активная*/
--btn-bl-act:	#2b2b2b;	/*Основная кнопка нажатая*/
--btn-bl-t:	#2f2f2f;		/*Текст основной кнопки*/
--btn-bl-act-t:	#8fa7b8;	/*Текст основной кнопки нажатой*/
--btn-text:	#00000088;	/*Внутренняя тень текста любой кнопки*/
--poll-res:	#ffffff;	/*Полоса результата опроса*/
--poll-most:	#eee;	/*Большая полоса результа опроса*/
--poll-most-t:	#eee;	/*Больший процент опроса*/
--notif-notice:	#a1a1a1;	/*Уведомление*/
--notif-error:	#111;		/*Уведомление об ошибке*/
--notif-text:	#fff;		/*Текст уведомления*/
--com-ign:	#252525;	/*Комментарий игнорируемый фон*/
--com-ign-bd:	#111111;		/*Комментарий игнорируемый фон*/
--com-ign-t:	#777;		/*Комментарий игнорируемый текст*/
--com-con:	#1f1f1f;	/*Комментарий фон*/
--com-con-bd:	#000000;	/*Комментарий граница*/
--com-del:	#17242b;	/*Комментарий удалённый фон*/
--com-del-bd:	#29363d;	/*Комментарий удалённый граница*/
--com-self:	#1a1a1a;	/*Комментарий свой фон*/
--com-self-bd:	#000000;	/*Комментарий свой граница*/
--com-new:	#101010;	/*Комментарий новый фон*/
--com-new-bd:	#101010;	/*Комментарий новый граница*/
--com-cur:	#030609;	/*Комментарий текущий фон*/
--com-cur-bd:	#606060;	/*Комментарий текущий граница*/
--com-hid:	#161616;	/*Комментарий скрытый фон*/
--com-hid-bd:	#363636;	/*Комментарий скрытый граница*/
--toolbar:	#252525;	/*Обновлялка*/
--toolbar-c:	#eee;	/*Обновлялка число комментов*/
--sys-mes:	#4e8a4e;	/*Системное сообщение, при сохранении настроек, например*/
--sys-mes-t:	white;		/*Системное сообщение текст*/
--sys-err:	#a65d42;	/*Системная ошибка*/
--sys-err-t:	white;		/*Системное ошибка текст*/
--horizontal:	#464646;	/*Разделитель*/
--night:	#464646;	/*Текущая ночь*/
--white:	white;		/*Белый*/
--black:	black;		/*Чёрный*/
--tumble:	#7b848d;	/*Тамбл*/
}

.comment-content{border:0 !important; border-radius:5px !important; padding:.5rem !important}
.button{text-shadow:none !important;padding: 5px 18px 5px 18px !important;}
.full-update-comments.active div {background: url('svg/clear-gs.svg') repeat !important;}
.spoiler-title{font-weight:normal !important;border-radius:0 !important;}
.text a {font-weight: 400 !important; text-decoration: underline !important}
.comment-info li {margin-right:16px !important}

@media (max-width: 1200px){
body{line-height: 1.5em !important;}
.information-block{padding:0 !important; background: none !important;}
.comment-wrapper .comment-wrapper {padding-left:1vw !important;}
.topic-content>img{max-height:200px !important}
.stream-item{margin:1rem .5rem !important;padding:0 !important;line-height: 1.2 !important;}
.stream-topic{margin:0 !important;}
.stream-author{font-size:.75rem !important;}
.topic-header .topic-title {font-size:1.2rem !important}
.news-birthday-list{padding:0 1rem}
.block-header{margin: 1rem 0 !important}

/*txt editor*/
.markItUpHeader {padding:4px !important}
#smilepack-ph-panel-categories{padding:4px !important}
.markItUpHeader ul li {margin: 5px 20px 5px 10px !important;}
.markItUpHeader ul li:first-child{margin-left:36px !important}
#smilepack-ph-panel-categories IMG {margin: 0 25px 15px 0 !important}

}
